<!DOCTYPE html>
<html>
<head>
  <title>Blackjack</title>
  <script type="text/javascript">
    window.cardBack = "<%= image_url("card_bkg.jpg") %>";
  </script>
  <link rel="icon" href="<%= image_url("blackjack.png") %>">
  <link href="https://fonts.googleapis.com/css?family=Inder|Roboto:300" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
